#artalk_container
  font-family $fontfamily
  .atk-main-editor
    background-color var(--color-card)
    .atk-textarea-wrap
      background-color var(--color-card)
  code
    *
      font-family $fontfamily-code
    color var(--color-inlinecode)
    font-family $fontfamily-code
    &:before
      margin-top -5px
  @media screen and (min-width: 840px)
    .atk-comment-children .atk-comment-wrap 
      .atk-main:hover
        .atk-footer
          top 6px
        .atk-footer .atk-actions
          padding-top 3px
